@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
    --custom-color: #4B62FF;

  }
}



html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Objectivity', sans-serif;
}

.placeholder-selected {
  color: #95989B; /* Your desired placeholder color */
}

select {
  color: #151414; /* Default text color */
}


.bg-approval-custom-green { 
  background: linear-gradient(rgba(255, 255, 255, 0.8) 80%, rgba(255, 255, 255, 0.8) 80%), 
  linear-gradient(rgba(148, 233, 184, 1) 20%, rgba(148, 233, 184, 1) 20%); 
  background-blend-mode: overlay; }


  /* .bg-pending-custom-yellow {
    background: linear-gradient(rgba(255, 255, 255, 0.8) 80%, rgba(255, 255, 255, 0.8) 80%), 
  linear-gradient(rgba(255, 215, 85) 20%, rgba(255, 215, 85) 20%); 
  background-blend-mode: overlay; }
  
 */

 .custom-gradient { background: linear-gradient(201.18deg, #C9DEFF 3.14%, #C9DEFF 86.04%); }

 th {
  font-weight: normal;
  font-size: 13px;
  color: #2C2D33;
}


td {
  color: #6E7079;
  font-size: 13px;

}

.custom-checkbox {
  width: 24px;
  height: 24px;
  gap: 0px;
  border-radius: 8px;
  border: 1px solid #000;
}

 @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 44%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
    --color-run: #4B62FF;
    --color-remaining: #E5E5E5; 
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 221.2 83.2% 53.3%;
    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 216 92% 60%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;
    --color-run: #4B62FF; 
    --color-remaining: #4E4E4E;
  }
}
